.navigation { font-size: 18px; }

.title { border-bottom: medium solid darkgreen; padding-bottom: 5px; font-size: 24px; }

.authors { border: thin solid darkblue; }

.topics { border: thin solid darkred; }

.entities { border: thin solid darkgreen; }

.text { border: thin solid darkgray; }

.fname { color: grey; }

.doclinks { border: thin solid darkgray; }

div.doclinks a:link { text-decoration: none; }
div.doclinks a:visited { text-decoration: none; }
div.doclinks a:hover { text-decoration: underline; }
div.doclinks a:active { text-decoration: none; }

div.searchresult a:link { text-decoration: none; color: #00c; }
div.searchresult a:visited { text-decoration: none; color: #00c; }
div.searchresult a:hover { text-decoration: underline; color: #00c; }
div.searchresult a:active { text-decoration: none; color: #00c; }

.bordered { padding: 8px; border: thin solid darkgray; }

.padded { padding: 8px; }

.bigger { font-size: 22px; }

.gray { color: gray; }

.keyterm { color: #00c; font-weight: xbold; }

.warn { color: red; }

.searchbox { border: thin solid darkgray; padding: 5px; margin-top: 8px; }

.searchresult { border: thin solid darkgray; padding: 5px; margin-top: 8px; }

.term { color: #900; font-weight: bold; }

.sentence { }

.example { margin-left: 10px;  padding: 8px; border: thin dotted gray; }