{% extends "layout.html" %}

{% block head %}
{{ super() }}
<title>Document</title>
{% endblock %}


{% block header %}
{% if source.title %}
<h3 class="title">{{source.title}}</h3>
{% else %}
<h3 class="title">{{source.docname}}</h3>
{% endif %}
{% endblock %}


{% block content %}

{% if docid and source %}

<div class="authors padded">
  {{ ', '.join(source.source.author) }}
  {% if source.year %}
  - {{ source.year }}
  {% endif %}
</div>

<p/>

<div class="topics padded">
  {% for topic in source.source.topic %}
  {{topic}}<br/>
  {% endfor %}
</div>

<p/>

<div class="entities padded">
  <table spacing=0 padding=5 border=0>
    <tr valign="top">
      <td>technologies</td>
      <td>&nbsp;&nbsp;</td>
      <td>
	{% for tech in source.technologies() %}
	<a href="/search?search=true&query=technology:{{tech}}">{{tech}}</a>,
	{% endfor %}
      </td>
    </tr>
    <tr valign="top">
      <td>people</td>
      <td>&nbsp;</td>
      <td>
	{% for person in source.persons() %}
	<a href="/search?search=true&query=person:{{person}}">{{person}}</a>,
	{% endfor %}
      </td>
    </tr>
    <tr valign="top">
      <td>locations</td>
      <td>&nbsp;</td>
      <td>
	{% for loc in source.locations() %}
	<a href="/search?search=true&query=location:{{loc}}">{{loc}}</a>,
	{% endfor %}
      </td>
    </tr>
    <tr valign="top">
      <td>organizations</td>
      <td>&nbsp;</td>
      <td>
	{% for org in source.organizations() %}
	<a href="/search?search=true&query=organization:{{org}}">{{org}}</a>,
	{% endfor %}
      </td>
    </tr>
  </table>
</div>

<p/>

{% if source.abstract %}
<div class="text padded">
  {{ source.abstract }}
</div>
<p/>
{% endif %}

{% if show_text %}
<div class="text padded">
{% for para in source.text.split('\n\n') %}
<p>{{ para }}</p>
{% endfor %}
</div>
{% endif %}

{% endif %}

{% endblock %}
