{% extends "layout.html" %}


{% block head %}
{{ super() }}
<title>Documents</title>
{% endblock %}


{% block header %}
<h3 class="title">Documents</h3>
{% endblock %}


{% block content %}
<div class="doclinks padded">
  <table spacing=0 padding=5 border=0>
    {% for source in sources %}
    <tr valign="top">
      <td>{{source.docid}}</td>
      <td>&nbsp;</td>
      <td><a href="/doc?sentid={{source.docid}}">
	  {% if source.title %} {{source.title}}
	  {% else %} {{source.docname}}
	  {% endif %}
	  </a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
