{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
<title>Index</title>
{% endblock %}

{% block header %}
<h3 class="title">Networking Archive Search Page</h3>
{% endblock %}

{% block content %}

<table>
  <tr>
    <td>
      <div class="bordered" style="width:400px;">
	<canvas id="chart_document_count"></canvas>
      </div>
    </td>
  </tr>
</table>

<script>
var ctx = document.getElementById('chart_document_count');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ stats.get_years() }},
        datasets: [{
	    label: 'document count',
            data: {{ stats.get_year_counts() }},
	    backgroundColor: 'rgba(54, 162, 235, 0.5)',
	            borderColor: 'rgba(55, 55, 55, 0.5)',
            borderWidth: 1
        }]
    },
    options: { }
});
</script>

<p/>
<div class="bigger">
<a href="/docs">List all documents</a>
<p/>
<a href="/search">Search documents</a></li>
<p/>
<a href="{{ kibana.link() }}" target="_blank">Kibana visualization</a>
</div>

{% endblock %}
