{% extends "layout.html" %}


{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
<title>Index</title>
{% endblock %}


{% block header %}
<h3 class="title">Networking Archive Search Page</h3>
{% endblock %}


{% block content %}

<table>
  <tr>
    <td>
      <div class="bordered" style="width:400px;">
	<canvas id="chart_document_count"></canvas>
      </div>
    </td>
  </tr>
  <!--
  <tr>
    <td>
      <div class="bordered" style="width:400px;">
	<canvas id="chart_topic_count"></canvas>
      </div>
    </td>
  </tr>
  -->
</table>

<script>
var ctx = document.getElementById('chart_document_count');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ stats.get_years() }},
        datasets: [{
	    label: 'document count',
            data: {{ stats.get_year_counts() }},
	    backgroundColor: 'rgba(54, 162, 235, 0.5)',
	            borderColor: 'rgba(55, 55, 55, 0.5)',
            borderWidth: 1
        }]
    },
    options: { }
});
</script>

<script>
var ctx = document.getElementById('chart_topic_count');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:  {{ stats.get_topics() | safe }},
        datasets: [{
	    label: 'document count',
            data: {{ stats.get_topic_counts() }},
	    backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(55, 55, 55, 0.5)',
            borderWidth: 1
        }]
    },
    options: {
	scales: { yAxes: [ { ticks: { beginAtZero: false } } ] }
    },
});
</script>

<p/>
<div class="bigger">
<a href="/docs">List all documents</a>
<p/>
<a href="/search">Search documents</a></li>
<p/>
<a href="{{ kibana.link() }}">Kibana visualization</a>
<!--
<ul>
  <li><a href="{{ kibana.term('epidemic models') }}">epidemic models</a></li>
  <li><a href="{{ kibana.term('black_triangles') }}">black triangles</a></li>
  <li><a href="{{ kibana.term('control%20objective') }}">control objective</a></li>
</ul>
-->
</div>

{% endblock %}
