{% extends "layout.html" %}

{% block head %}
{{ super() }}
<title>Search</title>
{% endblock %}


{% block header %}
<h3 class="title">Search</h3>
{% endblock %}

{% block content %}

<form class=searchboxaction="/search" method="post">
  <input type="hidden" name="search" value="true"/>
  Search: <input type="text" name="query"/> <input type="submit" value="Submit"/>
<form>

<p/>
  
{% if result %}

<table cellpadding=5 cellspacing=0 border=1 bordercolor=lightgray>
  <tr>
    <td>Query</td>
    <td>{{ query }}</td>
  </tr>
  <tr>
    <td>Hits</td>
    <td>{{ result.sources.__len__() }} / {{ result.total_hits }}</td>
  </tr>
</table>

<p/>

<table cellpadding=5 cellspacing=0 border=1 bordercolor=lightgray>

  {% for source in result.sources %}

  <tr>
    <td>
      <a href=/doc?sentid={{ source.docid }}>{{ source.docid }}</a> -
      <span class="fname">{{ source.docname }}</span><br/>
      	{{ source.text }}</td></tr>

  {% endfor %}

</table>

{% endif %}

{% endblock %}
