{% extends "layout.html" %}


{% block head %}
{{ super() }}
<title>Search</title>
{% endblock %}


{% block header %}
<h3 class="title">Search</h3>
{% endblock %}


{% block content %}

{# set debug = True #}
{% if debug %}
<p class="warn">Debugging mode...</p>
{% endif %}

<form class="searchbox" action="/search" method="post">
  <input type="hidden" name="search" value="true"/>
  Search:
  <input type="text" name="query" size="80"/>
  <input type="submit" value="Submit"/>
  &nbsp; debug<input type="checkbox" name="debug" value="on"/>
</form>

<p/>

{% if result %}

<table cellpadding=5 cellspacing=0 border=1 bordercolor=lightgray>
  <tr>
    <td>Search</td>
    <td>{{ query }}</td>
  </tr>
  <tr>
    <td>Hits</td>
    <td>{{ result.sources.__len__() }} / {{ result.total_hits }}</td>
  </tr>
  {% if debug %}
  <tr class=gray>
    <td>Query</td>
    <td>{{ result.query_json }}</td>
  </tr>
  {% endif %}
</table>

{% if visualize %}
{% set tech = query.split(':')[1] %}
{% set tech_link = kibana.term(tech) %}
<p><a href={{ tech_link }} target="_blank">visualization</a></p>
{% endif %}

<p/>


{% for hit in result.hits %}

<div class="searchresult">

  <a href=/doc?sentid={{ hit.source.docid }}>
    {% if hit.source.title %}
    {{ hit.source.title }}
    {% else %}
    {{ hit.source.docname }}
    {% endif %}
  </a>

  {% if debug %}
  <span class="gray">
    <br/>
    { docid={{ hit.source.docid }} score={{ hit.score }} } <br/>
    { {{ hit.source.docname }} }
  </span>
  {% endif %}

  {% set hits_and_matches = hit.sentence_hits(sentence_index) %}
  {% set hits = hits_and_matches[0] %}
  {% set matches = hits_and_matches[1] %}

  <table cellpadding="5">
  {% for hit in hits %}
  <tr valign="top">
    {% if debug %}
    <td class="gray">{{ hit.docid.split('-')[1] }}</td>
    <td class="gray">{{ "%.4f" % hit.score }}</td>
    <td class="gray">{{ matches }}</td>
    {% endif %}
    <td>{{ hit.as_highlighted_string(matches) | safe }}</td>
  </tr>
  {% endfor %}
  </table>

</div>

{% endfor %}

{% endif %}

{% endblock %}
